[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
typing-extensions = "*"
django-adaptors = "*"
dj-database-url = "*"
dynaconf = "*"
arrow = "*"
pydantic = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
