{% extends 'base.html' %}
{% block content %}

<head>
    <title>Stats: Settings</title>
    <link rel="stylesheet" href="/static/styles/account/account_settings.css?{% now "U" %}">
</head>



<body>
    
    <main>
        <div id="spaceleft"></div>
        <div id="spaceright"></div>
        <div id="core">

            <p>
                Hello, <a href="{% url 'profile' %}">{{user.name}}</a>! This is your profile edit page!
            </p>
        
            <div id="settings">

                {% if additional.changed %}Changes have been saved.{% endif %}
                <form action="" method="post">
                {% csrf_token %}

                <table>
                    {{ form_settings.as_p }}
                </table>

                <input type="submit" value="Submit" name="settings_update" class="submit-btn">
                </form>
            </div>


            <div id="invites">
                <p>Friends you have invited:</p>
                <table id="invites">
                {% for invite in invites %}
                    <tr>
                        <th>Friend name</th>
                        <th>Invite code</th>
                        <th></th>
                    </tr>
                    <tr>
                        
                        <td>
                            {{ invite.also_known_as}}
                        </td>
                        <td>
                            {{ invite.hash_key }}
                        </td>
            
                        <td>
                            <a href="{% url 'delete_hash' invite.hash_key %}">Delete invite</a>
                        </td>
            
                        
                    </tr>
                {% endfor%}
                </table>
                
                <form action="" method="post">

                    {% csrf_token %}
                    
                    
                    <p>Create new invite:</p>
                    <div class="controls">

                        {{ form_invites.player_name }} 
                        <input type="submit" value="Create" name="hash_create" class="submit-btn">
                    </div>
                    
                    
                </form>
            </div>
            
            <div id="redeem">

                <form action="" method="post"></form>
                <div>

                    <p>
                        Redeem hash-invite:
                    </p>
                    
                    {% if additional.is_redeem_message %}
                    <p>{{additional.redeem_message}}</p>
                    {% endif %}
                </div>
                <div class="controls">

                    {{ form_redeem.hash_key }} 
                    <input type="submit" value="Redeem" name="hash_redeem" class="submit-btn">
                </div>
                
                </form>
            </div>
        </div>
    </main>
    
</body>





{% endblock %}