{% extends 'base.html' %}
{% block content %}

<head>
    <title>Roulette</title>
    <link rel="stylesheet" href="/static/styles/account/account_page.css?{% now "U" %}">


</head>

<!-- <script type="text/javascript" 
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        let allow_others_see = document.getElementById("id_allow_see_matches");
        let allow_see_name = document.getElementById('id_allow_see_name');

        allow_others_see.backgroundColor = "red";

        // if (allow_others_see.checked) {
        //     allow_see_name.enabled = true;
        // } else {
        //     allow_see_name.enabled = false;
        // }

    });


</script> -->

<body>
    
    <main>
        <div id="spaceleft"></div>
        <div id="spaceright"></div>
        <div id="core">
            <p style="height: 20px; font-size: 15px; ">
                Hello, {{ user.name }}! This is your profile page!
            </p>

            <p>
                <a href="{%url 'profile_settings'%}">Profile settings.</a> It currently contains your profile settings, standing invites and invitees' names, and redeem invite functionality.
            </p>

            <p>
                <a href="{%url 'export_csv' %}">Export your matches as CSV file.</a>
            </p>

            <form action="" method="post" enctype= multipart/form-data>
                {% csrf_token %}
                <label for="your_name">CSV Import </label>
                <input type="file" id="file" name="file" accept=".csv">
                <input type="submit" value="OK">
            </form>
        </div>
    </main>
    

</body>

{% endblock %}