{% extends 'base.html' %}
{% block content %}

<head>
<title>Hunt:Statsman</title>
<link rel="stylesheet" href="/static/styles/account/logging_pages.css?{% now "U" %}">
</head>
<form action = "/roulette/" method = "GET">
    <main>
        <div class="spaceleft"></div>
        <div class="core">
            <h1 class="heading-big">A new hunter emerges!</h1>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper column">
                        <div class="row">
                            {{ field.errors }}
                        </div>
                        <div class="row">
                            {{ field.label_tag }} {{ field }}
                        </div>
                        <p class="row">
                            {% if field.help_text %}
                                {{ field.help_text|safe }}
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="spaceright"></div>
    </main>
</form>



{% endblock %}
