<style>
    :root{
            --dark-fill: #a0a0a0;
            --dark-fill-pressed: #7c7c7c;
            --light-fill: #DCDCDC;
            --border-color: #A9A9A9;
        }
    
    user_bar {
        display: flex;
        flex-direction: column;

        margin: 10px;
        margin-top: 3px;
        max-width: 250px;


    }

    user_bar > bar_item {
        background-color: var(--dark-fill);
        min-width: inherit;
        margin: 2px;
        align-items: center;
        padding: 10px;
        border-radius: 3px;
    }

    user_bar > bar_item:hover {
        background-color: var(--light-fill);
    }
    
    #user_button {
        background-color: var(--dark-fill);
        min-width: inherit;
        margin: 2px;
        align-items: center;
        padding: 10px;
        border-radius: 3px;
    }
    #user_button:hover {
        background-color: var(--light-fill);
    }

</style>



{% block content %}
<user_bar>
    <bar_item>
        {% if user.anonymous %} Not logged in.
        {% else %}Logged as: <a href="{% url 'profile' %}">{{user.name}}</a>
        {% endif %}
    </bar_item>
    
    <script>
        function URL() {
                location.href = "{% url 'logout'%}";
        }
    </script>


    {% if  user.anonymous %}
    
    
    <bar_item>
        <a href="{% url 'login'%}">Click here to login.</a>
    </bar_item>
    
    {% else %}

    <input type="button" id='user_button'>
        Logout
    </input>

    <bar_item href="{% url 'logout' %}">
        <a href="{% url 'logout' %}">Logout</a>
    </bar_item>
    {% endif %}
    
    
    
    
</user_bar>
{% endblock %}