<head>
    <link rel="stylesheet" href="/static/styles/service.css?{% now "U" %}">



</head>



<script>

    function mouseOn() {
        let icon = document.getElementsByClassName("dropdown_icon")[0];
        icon.src = "/static/images/dropdown_expand_h.png";
    }

    function mouseOff() {
        let icon = document.getElementsByClassName("dropdown_icon")[0];
        icon.src = "/static/images/dropdown_expand.png";
    }

    function subMenu(id) {
        let menu = document.getElementById(id);
        let state = menu.style.visibility;
        if (state === 'visible') {
            menu.style.visibility = 'hidden';
        } else {
            menu.style.visibility = 'visible';
        }   
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.playername')) {
            var dropdowns = document.getElementsByClassName("dropdown-menu");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.visibility === 'visible') {
                    openDropdown.style.visibility = 'hidden';
                }
            }
        }
    }
</script>


{% block content %}
{% if not user.anonymous %}
<div id="user_bar">
    <div class="playername"  onclick="subMenu('settings')">
        <img src="/static/images/hunter.png" alt="" height="35" width="35" style="padding-right: 10px;" onclick="subMenu('settings')">
        {{user.name}}
        <div height="24" width="24" class='dropdown-icon' onclick="subMenu('settings')"></div>
    </div>

    <div class="dropdown-menu" style="margin-left: 40px " id="settings" >
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'profile_settings' %}">Settings</a>
        <a href="{% url 'logout' %}" >Log out</a>
    </div>
</div>
{% endif %}

{% if  user.anonymous %}
    <a href="{% url 'login' %}" class="not-logged"></a>
{% endif %}

{% endblock %}
