{% extends 'pure_base.html' %}
{% block content %}

<head>
    <title>Roulette</title>

    <script>


        
        function showCoords(event, element) {
            var x = event.offsetX;
            var y = event.offsetY;
            // var coords = "X coords: " + x + ", Y coords: " + y;
            var coords = x + " " + y;
            document.getElementById("demo").innerHTML = coords
        };

        

    </script>

</head>

<body>

    <!-- <img onclick=" get_alert(event, 'map')" onload="" id="map"
    src="https://sun9-5.userapi.com/impf/OiEi1hEIA7_vInVmJNX_LiFh3uF6QgdIOhib3w/VLmwl_Rzelk.jpg?size=726x726&quality=95&sign=aced35a0fc970cd4b3f61070b4ea04c2&type=album" 
    alt="lawson_delta map"> 
    
    <p id="demo"></p> -->
    <div>
        <p style="height: 20px; font-size: 15px; ">
            This is page where you add matches
        </p>
        <form action="" method="post">
            {% csrf_token %}

            <table>
                {{ form.as_p }}
            </table>
            

            {% comment %} {{ form.date }}
            {{ form.wl_status }}
            {{ form.teammate_1 }}
            {{ form.teammate_2 }}
            {{ form.teammate_3 }}
            {{ form.bounty }}
            {{ form.duration }}
            {{ form.total_kills }}
            {{ form.kills }}
            {{ form.deaths }}
            {{ form.assists }}
            {{ form.primary_weapon }}
            {{ form.primary_ammo_A }}
            {{ form.primary_ammo_B }}
            {{ form.secondary_weapon }}
            {{ form.secondary_ammo_A }}
            {{ form.secondary_ammo_B }} {% endcomment %}


            <input type="submit" value="Submit">
          </form>
        
    </div>



</body>

{% endblock %}