{% extends 'base.html' %}
{% block content %}

<head>
    <title>Stats: Details</title>
    <link rel="stylesheet" href="/static/styles/matchResult.css?{% now "U" %}">

    

</head>

<body>
    
    <main>
        <div id="spaceleft"></div>
        <div id="core">
            
            <!-- wl_status
            assists_validators
            bounty
            date
            deaths_validators
            fights_locations
            kills_total
            kills_validators
            player_1
            player_1_assists
            player_1_deaths
            player_1_kills
            player_1_primary_ammo_A
            player_1_primary_ammo_B
            player_1_primary_weapon
            player_1_secondary_ammo_A
            player_1_secondary_ammo_B
            player_1_secondary_weapon
            player_1_signature
            player_2
            player_2_assists
            player_2_deaths
            player_2_kills
            player_2_primary_ammo_A
            player_2_primary_ammo_B
            player_2_primary_weapon
            player_2_secondary_ammo_A
            player_2_secondary_ammo_B
            player_2_secondary_weapon
            player_2_signature
            player_3
            player_3_assists
            player_3_deaths
            player_3_kills
            player_3_primary_ammo_A
            player_3_primary_ammo_B
            player_3_primary_weapon
            player_3_secondary_ammo_A
            player_3_secondary_ammo_B
            player_3_secondary_weapon
            player_3_signature
            playtime -->
            
            

            <div id="header">
                <p class="heading-big">
                    Match ID#{{match.id}}
                </p>
        
                <p>
                    <a href="{% url 'stats:edit' match.id %}">Edit this match</a>
                </p>

                <p> On <b>{{ match.date }}</b>  {{ match.player_1 }},
                    {% if additional.player_2_here %}with {{ match.player_2 }}{% endif %}
                    {% if additional.player_3_here %}and {{ match.player_3 }}{% endif %}
                    {% if  match.wl_status  == 1 %}won on{% endif %}
                    {% if  match.wl_status  == 0 %}lost on{% endif %}
                    {% if  match.wl_status  == 0.5 %}escaped from{% endif %} {{ match.map }}.
                    The group fought on {{ match.fights_locations }}, and the match lasted {{ match.playtime }} for them.
                </p>
            </div>

            <div id="players">
                    <!-- player_1_primary_ammo_A
            player_1_primary_ammo_B
            player_1_primary_weapon
            player_1_secondary_ammo_A
            player_1_secondary_ammo_B
            player_1_secondary_weapon -->


                <table>
                    <tr>
                        <th></th>
                        <th>KDA</th>
                        <th>Bounty</th>
                        <th>Primary arms</th>
                        <th>Primary ammo</th>
                        <th>Secondary arms</th>
                        <th>Secondary ammo</th>
                    </tr>
                    <tr>
                      <td class="heading">{{ match.player_1 }}</td>
                      <td>{{ match.player_1_kills }} / {{ match.player_1_deaths }} / {{ match.player_1_assists }}</td>
                      <td>{{ additional.player_1_bounty }}</td>
                      <td>{{ match.player_1_primary_weapon }}</td>
                      <td>{{ match.player_1_primary_ammo_A }} / {{ match.player_1_primary_ammo_B }}</td>
                      <td>{{ match.player_1_secondary_weapon }}</td>
                      <td>{{ match.player_1_secondary_ammo_A }} / {{ match.player_1_secondary_ammo_B }}</td>
                    </tr>
                    {% if additional.player_2_here %}
                    <tr>
                        <td class="heading">{{ match.player_2 }}</td>
                        <td>{{ match.player_2_kills }} / {{ match.player_2_deaths }} / {{ match.player_2_assists }}</td>
                        <td>{{ additional.player_2_bounty }}</td>
                        <td>{{ match.player_2_primary_weapon }}</td>
                        <td>{{ match.player_2_primary_ammo_A }} / {{ match.player_2_primary_ammo_B }}</td>
                        <td>{{ match.player_2_secondary_weapon }}</td>
                        <td>{{ match.player_2_secondary_ammo_A }} / {{ match.player_2_secondary_ammo_B }}</td>
                    </tr>
                    {% endif %}
                    {% if additional.player_3_here %}
                    <tr>
                        <td class="heading">{{ match.player_3 }}</td>
                        <td>{{ match.player_3_kills }} / {{ match.player_3_deaths }} / {{ match.player_3_assists }}</td>
                        <td>{{ additional.player_3_bounty }}</td>ы
                        <td>{{ match.player_3_primary_weapon }}</td>
                        <td>{{ match.player_3_primary_ammo_A }} / {{ match.player_3_primary_ammo_B }}</td>
                        <td>{{ match.player_3_secondary_weapon }}</td>
                        <td>{{ match.player_3_secondary_ammo_A }} / {{ match.player_3_secondary_ammo_B }}</td>
                    </tr>
                    {% endif %}
                </table> 
                
                


            </div>
            


    
    
        </div>
        <div id="spaceright"></div>
    </main>






</body>

{% endblock %}