{% extends 'pure_base.html' %}
{% block content %}

<head>
    <title>Roulette</title>

    <script>


        
        function showCoords(event, element) {
            var x = event.offsetX;
            var y = event.offsetY;
            // var coords = "X coords: " + x + ", Y coords: " + y;
            var coords = x + " " + y;
            document.getElementById("demo").innerHTML = coords
        };

        

    </script>

</head>

<body>
    <form action = "" >
        <input class="weapon_interactive_label" name="hash_redeem" value="Redeem" type="submit">
        <input class="weapon_interactive_label" name="hash_create" value="Create" type="submit">

        </input>
    </form>


</body>

{% endblock %}