
{% extends 'base.html' %}
{% block content %}
<head>
    <title>Stats: Overview</title>
    <link rel="stylesheet" href="/static/styles/statsList.css?{% now "U" %}">

</head>

<body>
    
    <main>

        <div id="spaceleft"></div>
        
        
        <div id="core">

            <h1 class="heading-big">
                Stats table page
            </h1>
            <div id="table-header">
                <div id="description">
        
                    <p style="max-width: 570px">
                        All matches, where you have participated, will be displayed here. 
                    </p><p>
                        Additionaly, some other mathes may be shown as well, 
                        this depends on your  <a href="{% url 'profile_settings' %}">settings</a>. Still, if people have not allowed to show their names, they will be encoded.
                    </p>

                </div>
                <div id="add">

                    <a href="{% url 'stats:add' %}" id="add-match">Add new match</a>
                </div>
            </div>
            
            <table>
                <th>ID</th>
                <th>Result</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Player 3</th>
                
                {% for match in matches %}
                <tr>
                    
                    <td>
                        <a href="{% url 'stats:match_details' match.id %}">{{ match.id }}</a>
                    </td>
                    <td>
                        {% if match.wl_status == 1 %}Win{% endif %}
                        {% if match.wl_status == 0 %}Loss{% endif %}
                        {% if match.wl_status == 0.5 %}Escape{% endif %}
                    </td>
                    <td>{{ match.player_1 }}</td>
                    <td>{% if match.player_2 != 'None' %}{{ match.player_2 }}{% endif %}</td>
                    <td>{% if match.player_3 == 'None' %} {% else %}{{ match.player_3 }}{% endif %}</td>
                    
                </tr>
                {% endfor%}
            </table>
            
        </div>
    </main>
    
    <div id="spaceright"></div>


</body>

{% endblock %}