{% extends 'base.html' %}
{% block content %}

<head> 
    <link rel="stylesheet" href="/static/styles/landing.css?{% now "U" %}">
</head>


<body>
    <main>
        <div id="spaceright"></div>
        <div id="core">
            <div id="text">

                <p class="heading-big">
                    Hunt: Statsman
                </p>
                <p class="heading">
                    
                    For all your stats-tracking needs!
                </p>
            </div>
        </div>
        <div id="spaceleft"></div>
        
    </main>
</body>





{% endblock %}