@font-face {
  font-family: "Sahitya-Regular";
  src: url("/static/fonts/Sahitya-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Sahitya-Bold";
  src: url("/static/fonts/Sahitya-Bold.ttf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 'Sansation';
  src: url(/static/fonts/Sansation_regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Sansation-Light';
  src: url(/static/fonts/Sansation_Light.ttf) format("opentype");
}

@font-face {
  font-family: 'Sansation-Bold';
  src: url(/static/fonts/Sansation_Bold.ttf) format("opentype");
}

@font-face {
  font-family: 'Sansation-Italic';
  src: url(/static/fonts/Sansation_Italic.ttf) format("opentype");
}

@font-face {
  font-family: 'Sansation-Bold-Italic';
  src: url(/static/fonts/Sansation_Bold_Italic.ttf) format("opentype");
}

@font-face {
  font-family: 'Sansation-Light-Italic';
  src: url(/static/fonts/Sansation_Light_Italic.ttf) format("opentype");
}

.heading, .labeled-dark-input label, body main #core #group1 #date-heading-data #match-date div label, body main #core #group2 #compounds #control-group label, .input-groups > div > label, body main #core #group1 #date-heading-data #win-loss p, body main #core #group1 #date-heading-data #match-info div label, body main #core #weapons-block div label, body main #core #group2 #players #player-fields-1 label, body main #core #group2 #players #player-fields-2 label, body main #core #group2 #players #add-teammate p {
  font-family: "Sahitya-Regular";
  font-size: 14px;
  color: #7F634C;
}

.heading-big, body main #core #game-id {
  font-family: "Sahitya-Bold";
  font-size: 30px;
  color: white;
}

.link {
  font: "Sahitya" 18px;
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.name-on-map, body main #core #group2 #compounds #map-group #map-and-compounds p {
  margin: 0px;
  font: "Sahitya" 10px;
  color: white;
  text-decoration: none;
}

.name-on-map:hover, body main #core #group2 #compounds #map-group #map-and-compounds p:hover {
  text-shadow: #929292 0px 0px 3px;
  cursor: pointer;
}

p {
  color: #fff;
  font-family: "Sahitya-Regular";
}

a {
  font-family: "Sahitya-Regular";
  color: #F0B385;
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: underline #F0B385;
          text-decoration: underline #F0B385;
  color: #fff;
}

.f-column, .labeled-dark-input, body main #core #group1 #date-heading-data #match-date div, body main #core #group2 #compounds #control-group, .input-groups > div, body main #core #group2 #players #player-fields-1, body main #core #group2 #players #player-fields-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-row, .input-groups, body main #core #group2 #players #add-teammate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.button-common, .radio-group li label, body main #core #group1 #date-heading-data #win-loss ul li label, body main #core #group2 #players #player-fields-1 #last-game-player, body main #core #group2 #players #player-fields-2 #last-game-player, .button-ornamented, .button-redcore-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Sahitya Regular";
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #929292;
  text-decoration: none;
  cursor: pointer;
}

.button-common:active, .radio-group li label:active, body main #core #group1 #date-heading-data #win-loss ul li label:active, body main #core #group2 #players #player-fields-1 #last-game-player:active, body main #core #group2 #players #player-fields-2 #last-game-player:active, .button-ornamented:active, .button-redcore-w:active {
  font-family: "Sahitya Bold";
  color: #F0B385;
}

.button-common:active:hover, .radio-group li label:active:hover, body main #core #group1 #date-heading-data #win-loss ul li label:active:hover, body main #core #group2 #players #player-fields-1 #last-game-player:active:hover, body main #core #group2 #players #player-fields-2 #last-game-player:active:hover, .button-ornamented:active:hover, .button-redcore-w:active:hover {
  text-shadow: 0px 0px 10px #F0B385;
}

.button-common, .radio-group li label, body main #core #group1 #date-heading-data #win-loss ul li label, body main #core #group2 #players #player-fields-1 #last-game-player, body main #core #group2 #players #player-fields-2 #last-game-player {
  height: 34px;
  background-image: url("/static/images/buttons/common.png");
  font-size: 18px;
}

.button-common:hover, .radio-group li label:hover, body main #core #group1 #date-heading-data #win-loss ul li label:hover, body main #core #group2 #players #player-fields-1 #last-game-player:hover, body main #core #group2 #players #player-fields-2 #last-game-player:hover {
  background-image: url("/static/images/buttons/common-p.png");
}

.button-common:active, .radio-group li label:active, body main #core #group1 #date-heading-data #win-loss ul li label:active, body main #core #group2 #players #player-fields-1 #last-game-player:active, body main #core #group2 #players #player-fields-2 #last-game-player:active {
  background-image: url("/static/images/buttons/common-p.png");
}

.button-ornamented {
  height: 52px;
  width: 133px;
  background-image: url("/static/images/buttons/ornamented.png");
  font-size: 20px;
}

.button-ornamented:hover {
  background-image: url("/static/images/buttons/ornamented-p.png");
}

.button-ornamented:active {
  background-image: url("/static/images/buttons/ornamented-p.png");
}

.button-redcore-w {
  height: 51px;
  width: 267px;
  background-image: url("/static/images/buttons/redcore-w.png");
  color: white;
  font-size: 20px;
}

.button-redcore-w:hover {
  background-image: url("/static/images/buttons/redcore-w-p.png");
}

.button-redcore-w:active {
  background-image: url("/static/images/buttons/redcore-w-p.png");
}

.not-logged {
  width: 134px;
  height: 51px;
  background-image: url("/static/images/login_btn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.not-logged:hover {
  background-image: url("/static/images/login_btn_hovered.png");
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  width: 154px;
  height: 71px;
}

.not-logged:hover:active {
  background-image: url("/static/images/login_btn_pressed.png");
  width: 134px;
  height: 51px;
}

.button-remove, body main #core #group2 #players #player-fields-1 #remove-button, body main #core #group2 #players #player-fields-2 #remove-button, .button-add, body main #core #group2 #players #add-teammate #add-button, .button-ar-down, .button-ar-left, .button-ar-right, .button-ar-up, .button-calendar {
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
}

.button-remove, body main #core #group2 #players #player-fields-1 #remove-button, body main #core #group2 #players #player-fields-2 #remove-button {
  background-image: url("/static/images/buttons/remove-a.png");
}

.button-remove:hover, body main #core #group2 #players #player-fields-1 #remove-button:hover, body main #core #group2 #players #player-fields-2 #remove-button:hover {
  background-image: url("/static/images/buttons/remove-h.png");
}

.button-remove:disabled, body main #core #group2 #players #player-fields-1 #remove-button:disabled, body main #core #group2 #players #player-fields-2 #remove-button:disabled {
  background-image: url("/static/images/buttons/remove.png");
}

.button-add, body main #core #group2 #players #add-teammate #add-button {
  background-image: url("/static/images/buttons/add-a.png");
}

.button-add:hover, body main #core #group2 #players #add-teammate #add-button:hover, body main #core #group2 #players #add-teammate:hover #add-button {
  background-image: url("/static/images/buttons/add-h.png");
}

.button-add:disabled, body main #core #group2 #players #add-teammate #add-button:disabled {
  background-image: url("/static/images/buttons/add.png");
}

.button-ar-down {
  background-image: url("/static/images/buttons/ar-down-a.png");
}

.button-ar-down:hover {
  background-image: url("/static/images/buttons/ar-down-h.png");
}

.button-ar-down:disabled {
  background-image: url("/static/images/buttons/ar-down.png");
}

.button-ar-left {
  background-image: url("/static/images/buttons/ar-left-a.png");
}

.button-ar-left:hover {
  background-image: url("/static/images/buttons/ar-left-h.png");
}

.button-ar-left:disabled {
  background-image: url("/static/images/buttons/ar-left.png");
}

.button-ar-right {
  background-image: url("/static/images/buttons/ar-right-a.png");
}

.button-ar-right:hover {
  background-image: url("/static/images/buttons/ar-right-h.png");
}

.button-ar-right:disabled {
  background-image: url("/static/images/buttons/ar-right.png");
}

.button-ar-up {
  background-image: url("/static/images/buttons/ar-up-a.png");
}

.button-ar-up:hover {
  background-image: url("/static/images/buttons/ar-up-h.png");
}

.button-ar-up:disabled {
  background-image: url("/static/images/buttons/ar-up.png");
}

.button-calendar {
  background-image: url("/static/images/buttons/calendar-a.png");
}

.button-calendar:hover {
  background-image: url("/static/images/buttons/calendar-h.png");
}

.button-calendar:disabled {
  background-image: url("/static/images/buttons/calendar.png");
}

.stretch-for-text {
  text-align: center;
  width: fit-content(120%);
  height: fit-content(120%);
}

.stretch-for-text div {
  padding: 2px 10px;
}

.dark-input, .labeled-dark-input input, body main #core #group1 #date-heading-data #match-date div input, body main #core #group2 #compounds #control-group input, .input-groups > div > input, body main #core #group1 #date-heading-data #match-info div input, body main #core #weapons-block div div #weapon, body main #core #weapons-block div div #weapon-ammo, body main #core #group2 #players #player-fields-1 #teammate-area input, body main #core #group2 #players #player-fields-2 #teammate-area input, body main #core #group2 #compounds #control-group select {
  background-image: url("/static/images/grey-input.png");
  background-size: 100% 100%;
  font-family: "Sansation-Italic";
  font-size: 14px;
  background-repeat: no-repeat;
  color: #F0B385;
  border: 1px solid #929292;
  margin-left: 0px;
  min-width: 50px;
  padding: 10px;
}

.dark-input::-webkit-input-placeholder, .labeled-dark-input input::-webkit-input-placeholder, body main #core #group1 #date-heading-data #match-date div input::-webkit-input-placeholder, body main #core #group2 #compounds #control-group input::-webkit-input-placeholder, .input-groups > div > input::-webkit-input-placeholder, body main #core #group1 #date-heading-data #match-info div input::-webkit-input-placeholder, body main #core #weapons-block div div #weapon::-webkit-input-placeholder, body main #core #weapons-block div div #weapon-ammo::-webkit-input-placeholder, body main #core #group2 #players #player-fields-1 #teammate-area input::-webkit-input-placeholder, body main #core #group2 #players #player-fields-2 #teammate-area input::-webkit-input-placeholder, body main #core #group2 #compounds #control-group select::-webkit-input-placeholder {
  font-size: 11px;
}

.dark-input:-ms-input-placeholder, .labeled-dark-input input:-ms-input-placeholder, body main #core #group1 #date-heading-data #match-date div input:-ms-input-placeholder, body main #core #group2 #compounds #control-group input:-ms-input-placeholder, .input-groups > div > input:-ms-input-placeholder, body main #core #group1 #date-heading-data #match-info div input:-ms-input-placeholder, body main #core #weapons-block div div #weapon:-ms-input-placeholder, body main #core #weapons-block div div #weapon-ammo:-ms-input-placeholder, body main #core #group2 #players #player-fields-1 #teammate-area input:-ms-input-placeholder, body main #core #group2 #players #player-fields-2 #teammate-area input:-ms-input-placeholder, body main #core #group2 #compounds #control-group select:-ms-input-placeholder {
  font-size: 11px;
}

.dark-input::-ms-input-placeholder, .labeled-dark-input input::-ms-input-placeholder, body main #core #group1 #date-heading-data #match-date div input::-ms-input-placeholder, body main #core #group2 #compounds #control-group input::-ms-input-placeholder, .input-groups > div > input::-ms-input-placeholder, body main #core #group1 #date-heading-data #match-info div input::-ms-input-placeholder, body main #core #weapons-block div div #weapon::-ms-input-placeholder, body main #core #weapons-block div div #weapon-ammo::-ms-input-placeholder, body main #core #group2 #players #player-fields-1 #teammate-area input::-ms-input-placeholder, body main #core #group2 #players #player-fields-2 #teammate-area input::-ms-input-placeholder, body main #core #group2 #compounds #control-group select::-ms-input-placeholder {
  font-size: 11px;
}

.dark-input::placeholder, .labeled-dark-input input::placeholder, body main #core #group1 #date-heading-data #match-date div input::placeholder, body main #core #group2 #compounds #control-group input::placeholder, .input-groups > div > input::placeholder, body main #core #group1 #date-heading-data #match-info div input::placeholder, body main #core #weapons-block div div #weapon::placeholder, body main #core #weapons-block div div #weapon-ammo::placeholder, body main #core #group2 #players #player-fields-1 #teammate-area input::placeholder, body main #core #group2 #players #player-fields-2 #teammate-area input::placeholder, body main #core #group2 #compounds #control-group select::placeholder {
  font-size: 11px;
}

.dark-input:focus, .labeled-dark-input input:focus, body main #core #group1 #date-heading-data #match-date div input:focus, body main #core #group2 #compounds #control-group input:focus, .input-groups > div > input:focus, body main #core #group1 #date-heading-data #match-info div input:focus, body main #core #weapons-block div div #weapon:focus, body main #core #weapons-block div div #weapon-ammo:focus, body main #core #group2 #players #player-fields-1 #teammate-area input:focus, body main #core #group2 #players #player-fields-2 #teammate-area input:focus, body main #core #group2 #compounds #control-group select:focus {
  border-color: #7F634C;
  color: white;
  outline: none;
}

.dropdown-menu {
  background-color: #2F3136;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  position: absolute;
  visibility: hidden;
  font-family: "Sahitya-Regular";
  font-size: 10px;
}

.dropdown-menu a {
  background-image: url("/static/images/menu-item.png");
  background-repeat: no-repeat;
  color: #929292;
  font-family: "Sahitya-Regular";
  font-size: 14px;
  text-decoration: none;
  margin: 3px;
  padding: 2px;
  padding-left: 10px;
  background-size: 100% 100%;
}

.dropdown-menu a:hover {
  background-image: url("/static/images/menu-item-h.png");
  background-size: 100% 100%;
  color: #fff;
}

.dropdown-menu a:hover:active {
  color: #F0B385;
}

.beautiful-text {
  color: #F0B385;
  font-size: 26px;
  background-color: #fff;
}

.input-groups > div {
  margin-bottom: 5px;
  margin-top: 5px;
}

.input-groups > div > input {
  margin: 0px;
}

.radio-group, body main #core #group1 #date-heading-data #win-loss ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0px;
  gap: 5px;
}

.radio-group li, body main #core #group1 #date-heading-data #win-loss ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc((100% / 3) - 5px);
          flex: 1 1 calc((100% / 3) - 5px);
}

.radio-group li input[type="radio"], body main #core #group1 #date-heading-data #win-loss ul li input[type="radio"] {
  visibility: hidden;
}

.radio-group li label, body main #core #group1 #date-heading-data #win-loss ul li label {
  position: relative;
  top: -35px;
  margin: 0px 0px -35px 0px;
  width: 100%;
}

.radio-group li label:checked, body main #core #group1 #date-heading-data #win-loss ul li label:checked {
  font-family: "Sahitya-Bold";
}

.radio-group li input[type="radio"]:checked + label, body main #core #group1 #date-heading-data #win-loss ul li input[type="radio"]:checked + label {
  color: #F0B385;
  background-image: url("/static/images/buttons/common-p.png");
}

.calendar-icon, body main #core #group1 #date-heading-data #match-date icon {
  width: 24px;
  height: 24px;
  background-image: url("/static/images/icons/calendar.svg");
  background-size: 100% 100%;
}

.calendar-icon:hover, body main #core #group1 #date-heading-data #match-date icon:hover {
  background-image: url("/static/images/icons/calendar-h.svg");
}

.calendar-icon:hover:active, body main #core #group1 #date-heading-data #match-date icon:hover:active {
  background-image: url("/static/images/icons/calendar-a.svg");
}

.image-container, body main #core #group2 #compounds #map-group #map-and-compounds #map {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  height: 2000px;
  background-color: #575757;
}

body main {
  background-image: url("/static/images/back-1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #spaceleft {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

body main #core {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 84;
      -ms-flex: 84;
          flex: 84;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main #core #group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  max-width: 500px;
}

body main #core #group1 #date-heading-data {
  width: 60%;
}

body main #core #group1 #date-heading-data #match-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main #core #group1 #date-heading-data #match-date div {
  width: 100%;
}

body main #core #group1 #date-heading-data #match-date div input {
  margin-right: 0px;
  width: 100%;
}

body main #core #group1 #date-heading-data #match-date icon {
  margin-bottom: 10px;
}

body main #core #group1 #date-heading-data #win-loss {
  width: 100%;
  padding-bottom: 20px;
}

body main #core #group1 #date-heading-data #match-info {
  padding-bottom: 20px;
  width: 100%;
  max-width: 388px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main #core #group1 #date-heading-data #match-info div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc((100% / 3) - 5px);
          flex: 1 1 calc((100% / 3) - 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50px;
}

body main #core #group1 #calendar-area {
  width: 193px;
  height: 193px;
  background-image: url("/static/images/calendar-back.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 185px;
  left: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  padding-top: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main #core #weapons-block div {
  width: 100%;
}

body main #core #weapons-block div div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}

body main #core #group2 {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

body main #core #group2 #players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #core #group2 #players #player-fields-1 label, body main #core #group2 #players #player-fields-2 label {
  padding-bottom: 3px;
  padding-top: 3px;
}

body main #core #group2 #players #player-fields-1 #teammate-area, body main #core #group2 #players #player-fields-2 #teammate-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

body main #core #group2 #players #player-fields-1 #last-game-player, body main #core #group2 #players #player-fields-2 #last-game-player {
  padding-left: 15px;
  padding-right: 15px;
}

body main #core #group2 #players #add-teammate {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #core #group2 #players #add-teammate #add-button {
  height: 21px;
  width: 21px;
  margin-right: 10px;
}

body main #core #group2 #players #add-teammate:hover {
  cursor: pointer;
}

body main #core #group2 #players #add-teammate:hover p {
  color: #fff;
}

body main #core #group2 #compounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 510px;
}

body main #core #group2 #compounds #control-group {
  width: 35%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35;
          flex: 1 1 35;
}

body main #core #group2 #compounds #map-group {
  width: 65%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65;
          flex: 1 1 65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #core #group2 #compounds #map-group #map-and-compounds {
  width: 100%;
}

body main #core #group2 #compounds #map-group #map-and-compounds #map {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body main #spaceright {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}
/*# sourceMappingURL=sample.css.map */