/* Error: compound selectors may no longer be extended.
 * Consider `@extend .button-add, :hover` instead.
 * See https://sass-lang.com/d/extend-compound for details.
 * 
 *     ,
 * 196 |                                 @extend .button-add:hover
 *     |                                         ^^^^^^^^^^^^^^^^^
 *     '
 *   sample.sass 196:41  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: compound selectors may no longer be extended.\a Consider `@extend .button-add, :hover` instead.\aSee https://sass-lang.com/d/extend-compound for details.\a\a     \2577 \a 196 \2502                                  @extend .button-add:hover\a     \2502                                          ^^^^^^^^^^^^^^^^^\a     \2575 \a   sample.sass 196:41  root stylesheet";
}
