.x-calendar {
	width: 100%;
	height: 100%;
	padding: 2px;

	background: #fff;
}
.x-calendar th, .x-calendar td {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	line-height: 18px;
	height: 18px;
}

.x-calendar td {
	color: #ccc;
	cursor: auto;
}
.x-calendar td:hover {
	background: #fff;
}
.x-calendar td.enabled {
	color: #666;
	cursor: pointer;
}
.x-calendar td.enabled:hover {
	background: #e8ecef;
}
.x-calendar .left {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-image: url('/static/images/buttons/test/ar-left.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
}
.x-calendar .right {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-image: url('/static/images/buttons/test/ar-right.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
}

.x-calendar thead tr th {
	background: #fff;
}
.x-calendar .week th {
	background: #e8ecef;
}
.x-calendar .month {
	position: relative;
	cursor: pointer;
}
.x-calendar .month.show {

}
.x-calendar .month ul {
	display: none;
	position: absolute;
	top: 16px;
	left: -1px;
	width: 200%;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	background: #fff;
}
.x-calendar .month li {
	float: left;
	width: 50%;
	list-style: none;
	cursor: pointer;
}
.x-calendar .month li:hover {
	background: #e8ecef;
}
.x-calendar .border-top {
	border-top: 1px solid #ccc;
}